apify-client
langchain
langchain-openai
langchain-groq
langchain-ollama
langchain-community
python-docx
pandas
setuptools
matplotlib
matplotlib-inline
seaborn
python-dotenv
numpy
scikit-learn
hyperopt
wordcloud
unstructured
openpyxl
apify-client